<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /webFitcom2025_SkinfaDev_smkinformatikaalirsyad/

    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>

Options -Indexes

<FilesMatch "(^\.|composer\.(json|lock)|package\.json|yarn\.lock|phpunit\.xml|\.env)">
    Require all denied
</FilesMatch>

<FilesMatch "uploads/.*\.php$">
    Require all denied
</FilesMatch>
