/* Responsive Styles Laptop/ Desktop (Up to 1366px) */

@media only screen and (max-width: 1366px) {
    .hero_item {
        padding: 60px 0 10px;
    }
    .pp_img_wrap {
        width: 140px;
        height: 140px;
    }
    .pproduct_content .border-btn {
        padding: 6px 18px;
    }
    .counter_item {
        padding: 25px 14px;
    }
    .count_devider {
        display: none;
    }
}


/* Responsive Styles for Tablet (Up to 1199px) */

@media only screen and (max-width: 1199px) {
    .category_select,
    .search_bar .search_category:after {
        display: none;
    }
    .cat_input {
        border-radius: 30px;
    }
    .hero_content h1 {
        font-size: 47px;
        margin-bottom: 18px;
        line-height: 60px;
    }
    .hero_content h4 {
        font-size: 18px;
        margin-bottom: 8px;
        line-height: 30px;
    }
    .hero_item {
        padding: 60px 0 10px;
    }
    .rec_tab li {
        padding: 2px 17px;
        margin-bottom: 15px;
    }
    .pp_img_wrap {
        width: 160px;
        height: 160px;
    }
    .pproduct_content .border-btn {
        padding: 10px 30px;
    }
    .category_list.dropdown {
        display: none;
    }
    .promo_main_area {
        margin-bottom: 40px;
    }
    #main-header {
        padding: 10px 0;
    }
    .mobile-menu .mega_menu_inner {
        display: block!important;
    }
    .header_top .text-center.align-self-center {
        text-align: right!important;
    }
    .category_select {
        width: 154px;
    }
    .single_blog {
        margin-bottom: 25px;
    }
    .rec_tab {
        margin-bottom: 20px;
    }
    .newsletter_content h3 {
        font-size: 40px;
    }
    .news_shape {
        top: 50%;
    }
    .main_img {
        top: 67%;
    }
    .contact_info_item {
        margin-bottom: 25px;
    }
}


/* Responsive Styles for Tablet and Mobile (Up to 1024px) */

@media only screen and (max-width: 1024px) {}


/* For screens larger than 1024px */

@media (min-width: 1025px) {}


/* For screens 991px */

@media only screen and (max-width: 991px) {
    .header_top {
        text-align: center;
    }
    .header_top .text-center.align-self-center {
        text-align: center!important;
    }
    .hero_item {
        padding: 50px 0 40px;
    }
    .hero_content {
        padding: 0 41px;
    }
    .hs_prev_arrow {
        left: -30px;
    }
    .hs_next_arrow {
        right: -30px;
    }
    .promo_main_area {
        margin-bottom: 30px;
    }
    .popular_promo {
        margin-bottom: 110px;
    }
    .rec_tab_area {
        text-align: left!important;
    }
    .test_thumbnail .swiper-slide {
        margin: 0 10px!important;
    }
    .test_content p {
        font-size: 19px!important;
    }
    .single_blog img {
        width: 100%;
    }
    .newsletter_img {
        display: none;
    }
    .test_content {
        padding: 30px 8% 0;
    }
    .test_arrow {
        display: none;
    }
    .test_content p {
        font-size: 16px !important;
    }
    .testimonials_wrap {
        padding-bottom: 79px;
    }
    .tes_designation {
        margin-top: 20px;
        font-size: 14px;
    }
    .footer_widget {
        margin-bottom: 30px;
    }
    .footer_social_link {
        margin-top: 15px;
    }
    .footer-bottom,
    .payment_logo {
        text-align: center!important;
    }
    .footer-bottom img {
        margin-top: 20px;
    }
    .about_img {
        padding-top: 40px;
        padding-left: 0px;
    }
    .pview_style button {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .product_details_content {
        margin-top: 30px;
    }
    .sidebar-area {
        padding-top: 40px;
    }
    .flash_title {
        display: block;
    }
    .flash_title h2 {
        margin-bottom: 17px;
    }
}


/* For screens 768px */

@media only screen and (max-width: 768px) {
    .whit_cart_item p {
        display: none;
    }
    #hero_slider .owl-nav button,
    #hero_slider .owl-nav button,
    .counter_area .count_devider {
        display: none;
    }
    .counter_item {
        padding-bottom: 0;
    }
    .counter_item:last-child {
        padding-bottom: 25px;
    }
    .counter_item h4 {
        display: block;
    }
    .hero_shaps {
        display: none;
    }
    .harrow {
        display: none;
    }
}


/* For screens 534px */

@media (max-width: 534px) {
    .countdown_wrap {
        display: block;
    }
}


/* For screens 450px */

@media (max-width: 450px) {
    .offcanvas__info {
        width: 300px;
    }
    .hero_item {
        padding: 50px 0 0px;
    }
}